@using Pinula.Shared.DTOs

<div class="category-card" @onclick="OnClick">
    <img src="@Category.PictureUrl" alt="@Category.Name" />
    <div class="gradient-overlay"></div>
    <span class="category-name">@Category.Name</span>
</div>

@code {
    [Parameter] public CategoryDisplayDto Category { get; set; } = null!;
    [Parameter] public EventCallback<CategoryDisplayDto> OnCategorySelected { get; set; }

    private async Task OnClick() => await OnCategorySelected.InvokeAsync(Category);
}