@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content">
            <div class="main-wrapper">
                @Body
            </div>
        </article>
        <BottomNavbar />
    </main>
</div>

<style>
    article.content {
        min-height: 100vh;
        background-color: #1C1C1C;

        color: white;
    }
</style>